body{
	margin: 100px 200px 100px 200px;
}

.parentBox{
	margin-top:10px; 
}

.leftbox{
  	display: inline-block;
  	padding-left: 10px;
  	width: 12%;
}
.rightbox{
  	display: inline-block;
  	padding-left: 5px;
  	width: 60%;
}

.img{
    width: 90%;
    height:90%;
    background-color: red;
}

#search, #main{
	border-style: groove;
}

#search{
	height: 50px;
	padding-top: 40px;
	padding-left: 20px;
}

#container{
	padding-left: 10px;
}